<div class="top-right pull-right clearfix">
  <div class="support">
    <i class="flaticon-music"></i><span>Get in touch</span
  ><a href="tel:http://+1%20(201)%20381-6077"
  >+1 (201) 381-6077</a
  >
  </div>
  <ul class="social-links clearfix">
    <li>
      <a
            href="https://www.facebook.com/Symbol-Security-104853571005083"
            style="
                      background-color: rgba(0, +0, +0, +0);
                      color: rgb(255, 255, 255);
                    "
      ><i class="fab fa-facebook"></i
      ></a>
    </li>
    <li>
      <a
            href="https://www.linkedin.com/company/symbolsecurity/"
            style="background-color: ; color: rgb(255, 255, 255)"
      ><i class="fab fa-linkedin"></i
      ></a>
    </li>
    <li>
      <a
            href="https://twitter.com/Symbol_Security"
            style="background-color: ; color: rgb(255, 255, 255)"
      ><i class="fab fa-twitter-square"></i
      ></a>
    </li>
    <li>
      <a
            href="https://www.youtube.com/channel/UCfc7b3eAFp1sMSmBVEU-eSQ"
            style="background-color: ; color: rgb(255, 255, 255)"
      ><i class="fab fa-youtube"></i
      ></a>
    </li>
  </ul>
</div>
