<section class="service-style-three">
  <div class="auto-container">
    <div class="row justify-content-center clearfix">
      <div class="col-lg-4 col-md-4 col-sm-12 service-block">
        <div
          class="service-block-one wow flipInY animated"
          data-wow-delay="00ms"
          data-wow-duration="1500ms"
          style="
            visibility: visible;
            animation-duration: 1500ms;
            animation-delay: 0ms;
            animation-name: flipInY;
          "
        >
          <div class="inner-box">
            <h3><a href="sales-partners/">IT Sellers</a></h3>
            <div class="icon-box">
              <span class="border-layer"></span> <i class="fa fa-user-tag"></i>
            </div>
            <p></p>
            <div class="link">
              <a href="sales-partners/"
                ><i class="fas fa-angle-left"></i> Read More
                <i class="fas fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 service-block">
        <div
          class="service-block-one wow flipInY animated"
          data-wow-delay="00ms"
          data-wow-duration="1500ms"
          style="
            visibility: visible;
            animation-duration: 1500ms;
            animation-delay: 0ms;
            animation-name: flipInY;
          "
        >
          <div class="inner-box">
            <h3><a href="vciso-partners/">vCISO’s</a></h3>
            <div class="icon-box">
              <span class="border-layer"></span> <i class="fa fa-user-cog"></i>
            </div>
            <p></p>
            <div class="link">
              <a href="vciso-partners/"
                ><i class="fas fa-angle-left"></i> Read More
                <i class="fas fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 service-block">
        <div
          class="service-block-one wow flipInY animated"
          data-wow-delay="00ms"
          data-wow-duration="1500ms"
          style="
            visibility: visible;
            animation-duration: 1500ms;
            animation-delay: 0ms;
            animation-name: flipInY;
          "
        >
          <div class="inner-box">
            <h3><a href="mssp-partners/">MSSP’s</a></h3>
            <div class="icon-box">
              <span class="border-layer"></span>
              <i class="fa fa-user-shield"></i>
            </div>
            <p></p>
            <div class="link">
              <a href="mssp-partners/"
                ><i class="fas fa-angle-left"></i> Read More
                <i class="fas fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
